@if (isLoading == true ) {
<div class="" dir="rtl">
  <div class="card p-6 rounded-lg shadow-md" *ngIf="letter">
    <h2 class="text-xl font-bold mb-4">تفاصيل الخطاب</h2>

    <div class="mb-6">
      <p>
        <strong class="text-xl"> رقم الخطاب&nbsp;&nbsp;:&nbsp;&nbsp; </strong>
        <span class="font-semibold">{{ letter.id }}</span>
      </p>
      <p>
        <strong class="text-xl">
          تاريخ الأستلام&nbsp;&nbsp;:&nbsp;&nbsp;
        </strong>
        <span class="font-semibold">{{ letter.date }}</span>
      </p>
      <p>
        <strong class="text-xl">
          الجهة المرسلة&nbsp;&nbsp;:&nbsp;&nbsp;
        </strong>
        <span class="font-semibold">{{ letter.sender }}</span>
      </p>
      <p>
        <strong class="text-xl">
          الجهة الداخلية&nbsp;&nbsp;:&nbsp;&nbsp;
        </strong>
        <span class="font-semibold">{{ letter.internalDepartment }}</span>
      </p>
    </div>

    <div class="mb-4">
      <label class="text-xl mb-2 block"><strong>محتوى الخطاب</strong></label>
      <div class="p-4 bg-gray-50 dark:bg-gray-800 rounded">
        <strong>{{ letter.content }}</strong>
      </div>
    </div>

    <div class="mb-4">
      <label class="text-xl mb-2 block"><strong>المرفقات</strong></label>
      <div
        *ngFor="let attachment of letter.attachments"
        class="flex items-center justify-between p-2 bg-gray-50 dark:bg-gray-800 rounded mb-2"
      >
        <strong>{{ attachment.name }}</strong>
        <button
          pButton
          icon="pi pi-download"
          class="p-button-success p-button-sm"
        ></button>
      </div>
    </div>

    <button
      pButton
      pRipple
      icon="pi pi-arrow-left"
      (click)="backToArchive()"
      class="p-button-secondary w-full font-bold text-lg"
    >
      <span class="font-semibold" pButtonLabel>العودة للأرشيف</span>
    </button>
  </div>

  <div class="flex animate-pulse" *ngIf="!letter">
    <div class="ms-4 mt-2 w-full">
      <p
        class="h-4 bg-gray-200 rounded-full dark:bg-neutral-700"
        style="width: 40%"
      ></p>

      <ul class="mt-5 space-y-3">
        <li
          class="w-full h-4 bg-gray-200 rounded-full dark:bg-neutral-700"
        ></li>
        <li
          class="w-full h-4 bg-gray-200 rounded-full dark:bg-neutral-700"
        ></li>
        <li
          class="w-full h-4 bg-gray-200 rounded-full dark:bg-neutral-700"
        ></li>
        <li
          class="w-full h-4 bg-gray-200 rounded-full dark:bg-neutral-700"
        ></li>
        <li
          class="w-full h-4 bg-gray-200 rounded-full dark:bg-neutral-700"
        ></li>
        <li
          class="w-full h-4 bg-gray-200 rounded-full dark:bg-neutral-700"
        ></li>
      </ul>
    </div>
  </div>
</div>
}
