input:focus {
  outline: none;
}
* {
  color: rgb(20, 20, 20);
  letter-spacing: 0.7px;
}
section {
  background-color: rgb(249, 255, 253);
}

input:focus {
  outline: none;
}

.form-container {
  width: 40%;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 15px;
  border-radius: 55px;
  background-color: #f8fbfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}
.form-container-background {
  content: "";
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 40.5%;
  height: 150px;
  background-image: linear-gradient(
    to bottom,
    rgb(121, 165, 121),
    rgb(249, 255, 253)
  );
  z-index: 1;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
h1 {
  margin: auto;
  text-align: center;
  font-size: 160%;
  font-weight: 400;
}

.logo {
  width: 50px;
  height: 50px;
  margin: auto;
  display: block;
}
p {
  margin: auto;
  color: rgb(161, 161, 161);
}
label {
  margin-bottom: 10px;
}
input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(172, 172, 172, 0.548);
  outline: none;
}

.login {
  background-color: #35a02d;
  width: 100%;
  border: none;
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 5px;
}
.login:hover {
  background-color: #2c8528;
}

.error-message {
  color: rgb(243, 68, 68);
  margin-top: 5px;
}