<form [formGroup]="letterForm" class="card rounded-lg shadow-md" dir="rtl">
  <h2 class="text-xl font-bold mb-4 pr-14">إرسال خطاب جديد</h2>

  <!-- Sender Field -->
  <div class="mb-4 pr-14">
    <label class="text-xl mb-2 block"><strong>الجهة المرسلة</strong></label>
    <p-select
      [options]="externalEntities"
      formControlName="selectedSender"
      optionLabel="name"
      placeholder="اختر الجهة المرسلة"
      class="w-full"
    ></p-select>
    <div
      *ngIf="
        letterForm.get('selectedSender')?.invalid &&
        letterForm.get('selectedSender')?.touched
      "
      class="text-red-500"
    >
      يرجى اختيار الجهة المرسلة.
    </div>
  </div>

  <!-- Communication Type Field -->
  <div class="mb-4 pr-14">
    <label class="text-xl mb-2 block"><strong>نوع المراسلة</strong></label>
    <p-select
      [options]="communicationTypes"
      formControlName="communicationType"
      optionLabel="name"
      placeholder="اختر نوع المراسلة"
      class="w-full"
    ></p-select>
    <div
      *ngIf="
        letterForm.get('communicationType')?.invalid &&
        letterForm.get('communicationType')?.touched
      "
      class="text-red-500"
    >
      يرجى اختيار نوع المراسلة.
    </div>
  </div>

  <!-- Letter Type Field -->
  <div class="mb-4 pr-14">
    <label class="text-xl mb-2 block"><strong>نوع الخطاب</strong></label>
    <p-select
      [options]="letterTypes"
      formControlName="letterType"
      optionLabel="name"
      placeholder="اختر نوع الخطاب"
      class="w-full"
    ></p-select>
    <div
      *ngIf="
        letterForm.get('letterType')?.invalid &&
        letterForm.get('letterType')?.touched
      "
      class="text-red-500"
    >
      يرجى اختيار نوع الخطاب.
    </div>
  </div>

  <!-- Importance Level Field -->
  <div class="mb-4 pr-14">
    <label class="text-xl mb-2 block"><strong>درجة الأهمية</strong></label>
    <p-select
      [options]="importanceLevels"
      formControlName="importanceLevel"
      optionLabel="name"
      placeholder="اختر درجة الأهمية"
      class="w-full"
    ></p-select>
    <div
      *ngIf="
        letterForm.get('importanceLevel')?.invalid &&
        letterForm.get('importanceLevel')?.touched
      "
      class="text-red-500"
    >
      يرجى اختيار درجة الأهمية.
    </div>
  </div>

  <!-- Internal Department Fields -->
  <div class="mb-4 pr-14">
    <label class="text-xl mb-2 block"
      ><strong>رقم وارد (الجهة الداخلية)</strong></label
    >
    <p-inputnumber
      formControlName="internalIncomingNumber"
      mode="decimal"
      inputId="withoutgrouping"
      [useGrouping]="false"
    />
    <div
      *ngIf="
        letterForm.get('internalIncomingNumber')?.invalid &&
        letterForm.get('internalIncomingNumber')?.touched
      "
      class="text-red-500"
    >
      يرجى إدخال رقم الوارد.
    </div>
  </div>

  <div class="mb-4 pr-14">
    <label class="text-xl mb-2 block"
      ><strong>تاريخ وارد (الجهة الداخلية)</strong></label
    >
    <p-datepicker
      formControlName="internalIncomingDate"
      dateFormat="dd/mm/yy"
      class="w-full"
    ></p-datepicker>
    <div
      *ngIf="
        letterForm.get('internalIncomingDate')?.invalid &&
        letterForm.get('internalIncomingDate')?.touched
      "
      class="text-red-500"
    >
      يرجى إدخال تاريخ الوارد.
    </div>
  </div>

  <!-- External Department Fields -->
  <div class="mb-4 pr-14">
    <label class="text-xl mb-2 block"
      ><strong>رقم وارد (الجهة الخارجية)</strong></label
    >
    <p-inputnumber
      formControlName="externalIncomingNumber"
      mode="decimal"
      inputId="withoutgrouping"
      [useGrouping]="false"
    />
    <div
      *ngIf="
        letterForm.get('externalIncomingNumber')?.invalid &&
        letterForm.get('externalIncomingNumber')?.touched
      "
      class="text-red-500"
    >
      يرجى إدخال رقم الوارد.
    </div>
  </div>

  <div class="mb-4 pr-14">
    <label class="text-xl mb-2 block"
      ><strong>تاريخ وارد (الجهة الخارجية)</strong></label
    >
    <p-datepicker
      formControlName="externalIncomingDate"
      dateFormat="dd/mm/yy"
      class="w-full"
    ></p-datepicker>
    <div
      *ngIf="
        letterForm.get('externalIncomingDate')?.invalid &&
        letterForm.get('externalIncomingDate')?.touched
      "
      class="text-red-500"
    >
      يرجى إدخال تاريخ الوارد.
    </div>
  </div>

  <!-- Letter Details Field -->
  <div class="mb-4 pr-14">
    <label class="text-xl mb-2 block"><strong>تفاصيل الخطاب</strong></label>
    <textarea
      rows="5"
      cols="30"
      pTextarea
      class="w-full"
      formControlName="letterDetails"
    ></textarea>
    <div
      *ngIf="
        letterForm.get('letterDetails')?.invalid &&
        letterForm.get('letterDetails')?.touched
      "
      class="text-red-500"
    >
      يرجى إدخال تفاصيل الخطاب.
    </div>
  </div>

  <!-- Attachments Field -->
  <div class="mb-4 pr-14">
    <label class="text-xl mb-2 block"><strong>المرفقات</strong></label>
    <p-toast></p-toast>
    <p-fileupload
      name="demo[]"
      url="https://www.primefaces.org/cdn/api/upload.php"
      (onUpload)="onUpload($event)"
      [multiple]="true"
      accept="image/*,application/pdf"
      maxFileSize="1000000"
      mode="advanced"
    >
      <ng-template #empty>
        <div class="dark:text-red-500">
          Drag and drop files to here to upload.
        </div>
      </ng-template>
      <ng-template #content>
        <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">
            {{ file.name }} - {{ file.size }} bytes
          </li>
        </ul>
      </ng-template>
    </p-fileupload>
  </div>

  <!-- Submit Button -->
  <div class="pr-14">
    <button
      pButton
      icon="pi pi-send"
      label="إرسال الخطاب"
      class="p-button-primary w-full mt-5"
      (click)="onSubmit()"
    ></button>
  </div>
</form>
