/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import url("./assets/layout/layout.scss");
@import url("./assets/demo/demo.scss");
@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

/*! تخصيص الألوان في الوضع الداكن */
/** .app-dark داخل كلاس  .darken وسوف يطبق علي عنصر يحتوي علي  */
/* .app-dark {
  .darken {
    color: red;
  }
} */

/*!
تخصيص الألوان في الوضع العادي
 .darken أو أي لون تريده في الوضع العادي وسوف يطبق علي عنصر يحتوي علي
 */

/* body .darken {
  color: blue;
} */

/*? الوضع الفاتح (الألوان الافتراضية) */

/* :root {
  --ss-ground: #700000;
  --s2-background: #9c0303;
  --s3-color: #ffffff;
  --size: 4rem;
} */

/*? عند تفعيل الوضع الداكن */
/* :root[class*="app-dark"] {
  --ss-ground: #001380;
  --s2-background: #3f12e4;
  --s3-color: #a53232;
  --size: 7rem;
} */

/*? تطبيق الألوان على الأكواد البرمجية */
/* .code {
  background-color: var(--s2-background);
  color: var(--s3-color);
  border-radius: 5px;
  font-size: var(--size);
} */
